<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tacos Delivery - Inicio</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/static.images/LogoTacos.png" alt="Logo Tacos Delivery">
    </div>
    <nav>
        <a href="/index">Inicio</a>
        <a href="#nosotros">Nosotros</a>
        <a href="/menu">Menú</a>
    </nav>

    <div class="perfil">
        <img src="/static.images/user-iconv2.png" alt="Usuario" style="cursor:pointer;"
             onclick="window.location.href='/login'">
    </div>
</header>

<section class="hero">
    <div class="hero-image">
        <img src="/static.images/BannerIndex.png" alt="Tacos deliciosos">
    </div>
    <div class="hero-text">
        <h2>DELICIOSOS TACOS</h2>
        <h3>SABOR AUTÉNTICO COLOMBIANO</h3>
        <p>Descubre nuestros tacos al pastor, asada y chorizo, preparados con los mejores ingredientes y el sazón que tanto te gusta.</p>
        <a href="/menu" class="btn-menu">Ver Menú y Ordenar</a>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
