<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<form th:action="@{/login}" method="post" th:object="${user}">
    <h2>Iniciar Sesión</h2>

    <label>Email:</label>
    <input type="email" th:field="*{email}" placeholder="ejemplo@correo.com" required>

    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" placeholder="********" required>

    <button type="submit">Entrar</button>

    <p style="text-align:center; margin-top:10px;">
        ¿No tienes cuenta?
        <a th:href="@{/registro}" style="color:#ff7b00; font-weight:bold;">Regístrate aquí</a>
    </p>

    <p th:if="${error}" th:text="${error}"
       style="color:red; text-align:center; font-weight:bold; margin-top:10px;"></p>
</form>
</body>
</html>
