<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido Exitoso</title>
    <link rel="stylesheet" th:href="@{/pedido_exitoso.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
</head>
<body>
<header>
    <h1>Pedido Confirmado</h1>
    <a href="/menu" class="btn-volver">⬅ Volver al menú</a>
</header>

<main>
    <div class="carrito-container">
        <p th:text="${mensaje}"></p>
        <div class="pedido-detalles">
            <h2>Detalles del pedido</h2>
            <table>
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${productos}">
                    <td th:text="${item.taco.nombre}"></td>
                    <td th:text="${item.cantidad}"></td>
                    <td th:text="${item.taco.precio} + ' $'"></td>
                    <td th:text="${item.subtotal} + ' $'"></td>
                </tr>
                </tbody>
            </table>
            <div class="total-pagar">
                <h3>Total: <span th:text="${#numbers.formatDecimal(total, 0, 0)} + ' COP'"></span></h3>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
