<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/registro.css}">
</head>
<body>
<form th:action="@{/registro}" method="post" th:object="${user}">
    <h2>Registro de Usuario</h2>
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required>
    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" required>
    <button type="submit">Registrar</button>
</form>
</body>
</html>
